@charset "utf-8";
/* CSS Document */

/* Custom font */
@font-face
{
font-family: myFont;
src: url('Junction.otf');
}
body
{
	background-color:#ffffff;
	width:auto;
	height:100%;
    font-family: myFont;
    background: fixed url('../bg.jpg'); 

}

.headbar{
	background: #A00000;
	height:160px;
	text-align: center;
	color: #fff;
}

h1{
	color:#A00000;
}
.form{
color:#A00000;
    margin-right: 82px;
}